@model IEnumerable<AMS.Models.mvcModelIncome_Stream>

@{
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

<table id="myTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Stream_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stream_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stream_Status)
            </th>


        </tr>
    </thead>
    <tbody>
        @{
            int counter = 0;// Index start value
            foreach (var item in Model)
            {
                <tr id="@item.Stream_ID">
                    <td>
                        <button onclick="getById(this.id)" id="@item.Stream_ID" class="btn btn-primary btn-sm">Edit</button>
                        <button onclick="deleteById(this.id)" id="@item.Stream_ID" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stream_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stream_Name)
                    </td>
                    <td>
                        @{
                            if (item.Stream_Status == "1")
                            {
                                <label class="badge bg-success">Active</label>
                            }
                            else
                            {
                                <label class="badge bg-danger">Closed</label>
                            }
                        }
                    </td>

                </tr>
                counter++;
            }
        }


    </tbody>
</table>

