@{
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="LearnPress | Education & Courses HTML Template" />
    <meta name="keywords" content="academy, course, education, education html theme, elearning, learning," />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>@ViewBag.Title</title>

    <!-- Favicon and Touch Icons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Logo/logo.png" />
    <link href="~/AdminAssets/PageNotFound/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/AdminAssets/PageNotFound/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/AdminAssets/PageNotFound/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/AdminAssets/PageNotFound/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="~/AdminAssets/PageNotFound/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminAssets/PageNotFound/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/AdminAssets/PageNotFound/animate.css" rel="stylesheet" />
    <link href="~/AdminAssets/PageNotFound/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link href="~/AdminAssets/PageNotFound/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/AdminAssets/PageNotFound/style-main.css" rel="stylesheet" />
    <!-- CSS | Preloader Styles -->
    <link href="~/AdminAssets/PageNotFound/preloader.css" rel="stylesheet" />
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/AdminAssets/PageNotFound/custom-bootstrap-margin-padding.css" rel="stylesheet" />
    <!-- CSS | Responsive media queries -->
    <link href="~/AdminAssets/PageNotFound/responsive.css" rel="stylesheet" />
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- CSS | Theme Color -->
    <link href="~/AdminAssets/PageNotFound/theme-skin-color-set-1.css" rel="stylesheet" />

    <!-- external javascripts -->
    <script src="~/AdminAssets/PageNotFound/jquery-2.2.4.min.js"></script>
    <script src="~/AdminAssets/PageNotFound/jquery-ui.min.js"></script>
    <script src="~/AdminAssets/PageNotFound/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/AdminAssets/PageNotFound/jquery-plugin-collection.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="">
    <div id="wrapper">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <img src="~/AdminAssets/PageNotFound/4.gif" />
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>

        <!-- start main-content -->
        <div class="main-content">
            <!-- Section: home -->
            <section id="home" class="fullscreen bg-lightest">
                <div class="display-table text-center">
                    <div class="display-table-cell">
                        <div class="container pt-0 pb-0">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h1 class="font-150 text-theme-colored mt-0 mb-0"><i class="fa fa-map-signs text-theme-color-2"></i>@ViewBag.TopTitle!</h1>
                                    <h2 class="mt-0">@ViewBag.Title</h2>
                                    <p>@ViewBag.SubTitle</p>
                                    <a class="btn btn-border btn-gray btn-transparent btn-circled" href="/Account/Login">Return Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- end main-content -->
        <!-- Footer -->
        <footer id="footer" class="footer bg-black-333 text-center pt-20 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-black-777 m-0">Copyright &copy; @DateTime.Now.Year Brillant Travel. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->
    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="~/AdminAssets/PageNotFound/custom.js"></script>

</body>

</html>
